{{!-- TITLE --}}
<div class="">
  <h5>RENTALS</h5>
</div>

{{!-- TABLE --}}
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Customer</th>
      <th scope="col">Created by</th>
    </tr>
  </thead>
  <tbody>
    {{#each rentals}}
    <tr>
      <td><a href="#">{{date}}</a></td>
      <td>{{customer.firstName}} {{customer.lastName}}</td>
      <td>{{createdBy}}</td>
      <td>
        <button type="button" class="btn btn-outline-primary btn-sm" onclick="location.href='#'">edit</button>
      </td>
      <td>
        <button type="button" class="btn btn-outline-primary btn-sm" onclick="location.href='#'">deleted</button>
      </td>

    </tr>
    {{/each}}
  </tbody>
</table>

{{!-- PAGE NAVIGATION --}}
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>