{{!-- TITLE --}}
<div>
  <h5>NEW RENTAL</h5>
</div>
<form action="/rentals/new-rental" method="POST">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationCustom01">payment</label>
      <input type="number" name="payment" class="form-control" id="validationCustom02" value="" required>
    </div>
    {{!-- <div class="col-md-6 mb-3">
      <label for="validationCustom01">webSite</label>
      <input type="text" name="webSite" class="form-control" id="validationCustom02" value="" required>
    </div> --}}
    <button type="submit" class="btn btn-primary">Save</button>
</form>